{% extends "base.html" %}
{% load static %}

{% block static_link %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
{% endblock static_link %}

{% block title %}
	Login
{% endblock title %}

{% block content %}
<div id="content">
	<form action="" method='POST'>
		{% csrf_token %}
		<h2 id="page-title">Login</h2>
		{% if error %}
			<div class='input-error'>{{ error }}</div>
		{% endif %}
		<div class="form-input">
			<input class="input" type="text" name="email" id="email" placeholder="Email">
			<label class="label" for="email">Email</label>
		</div>

		<div class="form-input">
			<input class="input" type="password" name="password" id="password" placeholder="Password">
			<label class="label" for="password">Password</label>
		</div>
		<button id="submit-btn" type="submit">Login</button>
		<p class="footer-p">Akkountingiz yo'qmi? <a href="{% url 'signup_page' %}">Ro'yxatdan o'ting</a></p>
	</form>
</div>

{% endblock content %}