{% extends "base.html" %}
{% load static %}

{% block static_link %}
	<link rel="stylesheet" href="{% static "css/music.css" %}">
	<link rel="stylesheet" href="{% static "css/listpages.css" %}">
{% endblock static_link %}

{% block title %}
	{{ artist.name }}
{% endblock title %}

{% block content %}

<div class="container">
	<div id="music-box">
		<img src="{{ artist.profile_img.url }}" width="200" height="200">
		<div id="music-box-detail">
			<h1 id="music-box-title">{{ artist.name }}</h1>
		</div>
	</div>
	<h1 id="page-title">Musics</h1>
	{% for music in musics %}
		<div class="list-box">
			<img src="{{ music.music_img.url }}" width="90" height="90">
			<div class="list-box-detail">
				<a class="list-box-title link" href="{% url 'music_page' music.id %}">
					{{ music.title }}
				</a>
				<p class="list-box-artist">
					{{ music.artists_str }}
				</p>
			</div>
		</div>
	{% endfor %}
	<div id="margin"></div>
	<footer>
		<p>Developer: <a class="link" href="https://github.com/asadbek-sotiboldiyev" target='_blank'>AsAdbEk Sotiboldiyev</a></p>
	</footer>

{% endblock content %}
